* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100dvh;
}

.container {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    text-align: center;
}

h1 {
    color: #333;
    margin-bottom: 2rem;
}

h2 {
    color: #555;
    margin-bottom: 1rem;
}

.game-boards {
    display: flex;
    margin-bottom: 2rem;
}

.board-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 25rem;
    width: 28rem;
}

.board {
    display: grid;
    height: 22rem;
    width: 22rem;
    grid-template-columns: repeat(10, 1fr);
    grid-gap: 2px;
    background-color: #ddd;
    padding: 2px;
    border-radius: 5px;
}

.turn {
    background-color: rgb(181, 212, 169) !important;
}

.cell {
    margin: 0;
    padding: 0;
    width: 100%;
    aspect-ratio: 1/1;
    background-color: #fff;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hit, .ship, .miss {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom {
    gap: 1rem;
    position: relative;
}

.shipSelect {
    display: flex;
    gap: 1rem;
    margin-left: 2.5rem;
    margin-bottom: 2rem;
}

.shipSelect > * {
    cursor: move;
    font-size: 1.5rem;
}

#start-game {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

#start-game:hover {
    background-color: #45a049;
}